/*  /// header qismi uchun //// */
/* header { */
/* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
/* } */
.header-main {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  align-items: center;
}
.kino {
  color: #3657cb;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 800;
}
.area {
  color: #fff;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 800;
}
.header-links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.link {
  color: #fff;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 700;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 12px;
}
.link:hover {
  transition: 0.3s;
  color: grey;
}
.btn-1 {
  padding: 13px 46px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 166.5%;
  border-radius: 10px;
  background: #3657cb;
  box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.8);
}
.btn-1:hover {
  transition: 0.3s;
  color: #3657cb;
  background: #fff;
}
.box-1 img {
  border-radius: 10px;
}
.logo-sites svg {
  transition: 0.3s;
  fill: #686868;
}
.logo-sites svg:hover {
  fill: #fff;
}
.header-logo {
  display: flex;
  flex-direction: column;
}
.logo-main {
  display: flex;
}
.logo-sites {
  display: flex;
}

.poisk:hover {
  transform: rotate(360deg);
}
.logo-sites {
  display: flex;
  gap: 14px;
}

/*  ////   header-bottom  ///*/
.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  color: #fff;
  font-size: 65px;
  font-weight: 900;
}
.nav-links {
  display: flex;
  gap: 20px;
}
.link-1 {
  color: rgba(255, 255, 255, 0.35);
  font-size: 18px;
  font-weight: 700;
}
.link-1:hover {
  transition: 0.3s;
  color: #fff;
}
