@import url(./header.css);
@import url(./footer.css);
@import url(./main.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1470px;
}
a {
  text-decoration: none;
}
input {
  outline: none;
}
button {
  border: none;
}
.film-section {
  background-image: url("../images/main/main-picture.png");
  background-color: #1e2538;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: left 0, right 0, top 0;2 */
}
.section-btn {
  margin-top: 20px;
  text-align: center;
}
.btn-section {
  border-radius: 10px;
  border: 2px solid #fff;
  padding: 21px 46px 20px 47px;
  color: #fff;
  background-color: transparent;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 166.5%;
}
.btn-section:hover {
}
